*,*::after, *::before {box-sizing: border-box};

.conteudo{
    background-color: white;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
}

h1, h2, p {
    text-align: center;
}

/* _______________________________________________________ */
/* (1ª Animação) Trocar a cor de fundo continuamente */

/* Etapa 1 Regra de animação (animaFundo) */
/* Trocar a cor de fundo da tela */

@keyframes animaFundo {
    0% {background-color: lightblue;}
    50% {background-color: lightcoral;}
    100% {background-color: lightgreen;}
}

/* Etapa 2 Executar de animação (animaFundo) */

body {
    font-family: 'Segoe UI';

    /* Versão abreviada da chamada */
    animation: animaFundo 3s infinite alternate-reverse;
}
#dois {
    animation-name: aparecer;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

#tres {
    border: solid 3px;
    padding: 5px;
    width: 750px;
    margin:auto;
}

img {
    width: 150px;
    height: 150px;
}

@keyframes animaImagem {
    from {transform: translateX(0) rotateZ(0);opacity: 0;}

    to{transform: translateX(570px) rotateZ(360deg);opacity: 1;}
}

#tres img {
    animation-name: animaImagem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#quatro {
    border: solid 3px;
    padding: 5px;
    width: 750px;
    margin: auto;
    margin-top: 10px;
}

@keyframes animaImagem2 {
    form {tranform: translateX(0);}
    to {transform: translateX(580px);}
}

#quatro img {
    animation-name: animaImagem2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}